<p>Do you want to authorize this application to grab your UnderArmour data?</p>

<a href=<%= "#{@link}" %>><img src="http://developer-ua.mapmyfitness.com.s3.amazonaws.com/assets/login_buttons/UA-login_btn-xlarge.png"></a>
