# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


/node_modules
/yarn-error.log
.byebug_history

# Ignore application configuration
.DS_Store
/config/database.yml
/config/secrets.yml
/config/application.yml

# Ignore application configuration
/public/packs
/public/packs-test

app/assets/webpack/*
