<header class="header-content">
  <div class="header-holder">
    <h1>Edit Race</h1>
  </div>
</header>

<section class="race-holder">
  <div>
    <%= render 'form', race: @race %>
  </div>
</section>
