// Font Families

$primary-sans-serif: 'Droid Sans', sans-serif;

// Font Sizes

$font-size-base: 12px;

$s-giga: 100px;
$s-mega: 50px;
$s-huge: 36px;
$s-large: 22px;
$s-medium: 16px;
$s-base: $font-size-base;
$s-small: 10px;

// Font Weights

$light: 300;
$regular: 400;
$bold: 700;
$heavy: 900;
